body {
  background-color: rgb(2, 33, 60);
  color: whitesmoke;
}

.button {
  background-color: rgb(186, 179, 76);
  color: black;
  padding: 16px;
  margin: 8px;
  border: none;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}

.input {
  background-color: white;
  color: black;
  padding: 16px;
  margin: 8px;
  border: none;
  display: flex;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}


.span {
  display: flex;
  margin: 10px;
}

.div {
  display: grid;
}